@import "./base.css";

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.red {
  text-decoration: none;
  color: var(--vt-c-kotera);
}

@media (hover: hover) {
  a:hover {
    color: var(--vt-c-kotera);
    filter: brightness(70%);
  }
}