<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <nav>
      <div class="nav-inner scroll">
        <RouterLink to="/">Home</RouterLink>
        <RouterLink to="/koute">Koute</RouterLink>
        <RouterLink to="/cmd">Commander</RouterLink>
        <RouterLink to="/lucide">Lucide</RouterLink>
      </div>
      <img height="24" width="24" class="kotera-logo" />
    </nav>
  </header>
  <RouterView />
  <footer>
    <div class="links">
      <a alt="Discord" href="https://discord.gg/JSHRQkrafN"><PhDiscordLogo :size="24" weight="fill" /></a>
      <a alt="GitHub" href="https://github.com/koterahq/"><PhGithubLogo :size="24" weight="fill" /></a>
      <a alt="GitLab" href="https://gitlab.com/koterahq/"><PhGitlabLogo :size="24" weight="fill" /></a>
      <a alt="Roblox Group" href="https://www.roblox.com/groups/10737922/Kotera#!/about"><PhUsersThree :size="24" weight="fill" /></a>
    </div>
  </footer>
</template>

<script>
  import { PhDiscordLogo, PhGithubLogo, PhGitlabLogo, PhUsersThree } from "phosphor-vue";
  export default {
    name: "App",
    components: {
      PhDiscordLogo,
      PhGithubLogo,
      PhGitlabLogo,
      PhUsersThree,
    },
  };
</script>


<style scoped>
header {
  padding: 0rem 0rem;
  padding-bottom: 0;
  background-color: var(--color-background-soft);
}

main {
  padding: 2rem calc(100vw - 85vw);
}

header nav {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  border-bottom: 1px solid var(--color-border);
  padding-top: 2rem;
}

header .nav-inner {
  display: flex;
  align-items: flex-start;
  width: calc(100% - 24px - 2rem - 1rem);
  height: 100%;
  padding-left: 2rem;
}

nav .kotera-logo {
  margin-right: 2rem;
  margin-left: 1rem;
}

header .nav-inner a {
  padding: .5rem 2rem;
  font-size: 16px;
  color: var(--color-text-less);
  font-weight: 500;
}

header .nav-inner .router-link-exact-active {
  color: var(--vt-c-kotera);
}

header .nav-inner .router-link-exact-active::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 1px;
  background-color: var(--vt-c-kotera)
}

footer {
  margin-top: 2rem;
  padding: 2rem 0;
  border-top: 1px solid var(--color-border);
}

footer .links {
  display: flex;
  justify-content: center;
  flex: 1 0 auto;
}

footer .links > a {
  margin: 0 1rem;
}

.kotera-logo {
  mask-image: url(/assets/logo.svg);
  mask-size: cover;
  -webkit-mask-image: url(/assets/logo.svg);
  -webkit-mask-size: cover;
  
  background-color: var(--vt-c-kotera);
}
</style>